<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj produkt</title>
</head>
<body>

<h1>Tilføj produkt</h1>

<br>

<form action="/admin/createProduct" method="post">
    <input type="text" name="id" placeholder="Plot ind her">
    <input type="text" name="name" placeholder="Produkt Navn">
    <input type="text" name="purchasePrice" placeholder="Indkøbspris">
    <input type="text" name="salesPrice" placeholder="Salgspris">
    <input type="text" name="quantity" placeholder="Inventar">
    <input type="text" name="barcode" placeholder="Stregkode">
    <input type="text" name="description" placeholder="Beskrivelse">
    <input type="text" name="imagePath" placeholder="Billede">
    <input type="submit" name="Opret produkt">
</form>

</body>
</html>