<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cart index</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h3>Cart Page</h3>
<table cellpadding="2" cellspacing="2">
    <tr>
        <th>Produkt</th>
        <th>Antal</th>
        <th>Pris/stk.</th>
        <th>Total</th>

    </tr>
    <tr th:each="item :${session.cart}">
        <td th:text="${item.product.name}"></td>
        <td>
            <a th:href="${'/cart/sub/' + item.product.id}">-</a>
            <span th:text="${item.quantity}"></span>
            <a th:href="${'/cart/add/' + item.product.id}">+</a>
        </td>
        <td th:text="${item.product.salesPrice}"></td>
        <td th:text="${item.product.salesPrice * item.quantity}"></td>
        <td align="center">
            <a th:href="${'/cart/remove/' + item.product.id}"
               onclick="return confirm('Are you sure?')">Remove</a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Total</td>
        <td th:if="${total}" th:text="${total}"></td>
        <td th:if="!${total}"></td>
    </tr>
</table>
<a href="/cart/buy">Gå til betaling</a>
</body>
</html>